body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-right: 390px;
    border: 2px solid #a59f9f;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input,
button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-bottom: 20px;
    margin-right: 200px;
    font-size: 20px;
    color: #333;

}